<h1> What is Farkle? </h1>
<p>Farkle is a simple dice game where a player has to weigh their odds in order to Succeed.</p>

<h3>How it works</h3>
<p>The player starts out with 6 dice(six-sided) to roll. After the player rolls, the player may put dice to the side in order to gain points. If the player rolls no winning dice combinations they will bust and lose their turn.</p>

<h3>The points work like this (side of dice, points rewarded):</h3>
<ul>
  <li>1, 100pts</li>
  <li>5, 50pts</li>
</ul>

<h3>Additionally, if the player rolls 3 or more of the same number, the points look like this:</h3>
<ul>
  <li>1, 1000pts x (2^(numberRolled - 3))</li>
  <li>5, 500pts x (2^(numberRolled - 3))</li>
  <li>2, 200pts x (2^(numberRolled - 3))</li>
  <li>3, 300pts x (2^(numberRolled - 3))</li>
  <li>4, 400pts x (2^(numberRolled - 3))</li>
  <li>6, 600pts x (2^(numberRolled - 3))</li>
</ul>


<p>So, if we roll four 1's, we could select them for 2000pts (1000pts x (2^(4 - 3)))</p>

<h3>Finally, if the player receives a flush, where they receive 1-6 in one roll:</h3>
<ul>
  <li>Flush(1-6), 1500pts</li>
</ul>

<h3>After the player selects their Dice, they may choose to end their turn and collect their points</h3>
<h1>OR</h1>
<h3>They may choose to roll their remaining dice to get more points</h3>
<h1>HOWEVER</h1>
<h2>If a player rolls and they land on no 1's or 5's and also fail to roll 3 of a kind, they will bust and lose all of their points and will have to pass their turn</h2>


<h1>The benefit of rolling riskily</h1>
<p>If the player is able to gain points from all 6 dice in any number of rolls in a turn, they will be refunded their 6 dice and will be able to roll again.</p>
<h3>Keep in mind, the players points are not safe in until the player passes their turn, even if they get a dice refund</h3>
